@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>TIService</h2>
    <p class="lead"></p>
    @if (Request.IsAuthenticated)
    {
        <p>Welcome, @(ViewBag.UserName)!</p>
    }
    else
    {
    }
</div>